[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/sample_app
ExecStart=/home/ubuntu/.rbenv/bin/rbenv exec bundle exec puma -C /home/ubuntu/sample_app/config/puma.rb /home/ubuntu/sample_app/config.ru
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target
