[Unit]
Description=Puma HTTP Server for sample_app (production)
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/sample_app/current
ExecStart=/home/deploy/.rbenv/bin/rbenv exec bundle exec puma -C /home/deploy/sample_app/shared/puma.rb
ExecReload=/bin/kill -TSTP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
StandardOutput=append:/home/deploy/sample_app/shared/log/puma_access.log
StandardError=append:/home/deploy/sample_app/shared/log/puma_error.log

Restart=always

[Install]
WantedBy=multi-user.target
