<span>
  <span class="container-react">
    <%= render 'reaction/reaction_bar' %>
    <span class="comments-but-1">
      <a id="reaction-comment-<%= @comment.id %>" role="button"> like </a>
    </span>
  </span>
</span>
