<a class="content" href="#">
  <div class="notification-item">
    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
    <p class="item-info">Marketing 101, Video Assignment</p>
  </div>
</a>